.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 300ms;
}

.tarefas li:hover{
  background: #ececec
}

.tarefas li .edit {
  margin-right: 15px;
  color: #51c5de
}

.tarefas li .delete {
  margin-right: 15px;
  color: #f04c64
}

.tarefas li:hover .edit {
  cursor: pointer;
}

.tarefas li:hover .delete {
  cursor: pointer;
}
